.full-width{
    width: 100%;
    height: 4em;
    padding-top: 1em;
    padding-left: 1em;
}

.add-button{
    display:inline-block;
    align-content: flex-end;
}

.title{
    display: inline-block;
}

.action{
    cursor: pointer;
}